{% extends "base.html" %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Category</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.description }}</td>
            <td>{{ "%.2f"|format(transaction.amount) }} €</td>
            <td>{{ transaction.type }}</td>
            <td>{{ transaction.category }}</td>
            <td>{{ transaction.date.strftime('%Y-%m-%d %H:%M') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br />
<div class="row mb-4">
    <div class="col-md-4">
        <div class="card text-white bg-success">
            <div class="card-body">
                <h5>Total Income:</h5>
                <h3>{{ income }} €</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-danger">
            <div class="card-body">
                <h5>Total Expenses:</h5>
                <h3>{{ expenses }} €</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5>Balance:</h5>
                <h3>{{ balance }} €</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}